.digits{
   max-width: 30%;
   height: 100px;
   
   
    
    

}
.digits button{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: black;
    color: white;
    height: 50px;
    font-size: xx-large;
    height: 150px;
    position: relative;
    right: 37px;
   
}
.operators{
    width: 400px;
    font-size: 10px;
    display: flex;
    position: relative;
    height: 50px;
    font-size: xx-large;

    
}
.operators button{
    width: 400px;
    text-align: center;
    background-color:black;
    color: white;
    font-size: 10px;
    text-align: center;
    font-size: xx-large;
    height: 50px;
    position: relative;
    
    
}
.display{
    background-color: blue;
    color:white;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    font-size: 50px;
    position: relative;
    right: 1px;
    text-align: center;
   

}
button:hover{
    background-color: blue;
    color: black;
}

.App{
    
display: flex;
flex-direction: column;
align-items:flex-start;
text-align: center;
background-image: url("https://www.bmw-motorsport.com/content/dam/bmw/marketBMWSPORTS/bmw-motorsport_com/assets/bmw-m-motorsport/race-cars/bmw-m4-gt4-2023/bmw-m4-gt4-stage-teaser-01.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1655285283212.jpg");
height:700px;
max-width: 100%;
min-height: 100%;
color: white;
background-repeat: no-repeat;
min-width: 100%;
background-position: center center;

background-size: 100% 100%;

    
}

h1{
    margin-bottom: 50px;
    
}
