
.container-fluid{
    display: flex;
    align-items: center;
    padding: 0px;
   
}
.nav-link{
    color:white;
    margin-top: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.nav-link:hover{
    color: red;
    
}
.navbar{
    background-color:black;
   
}
.mImage{
    position:relative;
    top: 2px;
    margin-right: 10px;
}
.Header{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.bmwImage{
    position: relative;
    bottom: 4px;
    margin-right: 0px;
    padding-right: 0px;
}
