.Header {


}
.container-fluid{
    display: flex;
    align-items: center;
    padding: 0px;
   
}
.nav-link{
    color:white;
    margin-top: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-link:hover{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.navbar{
    background-color: blue;
}