.Features {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   
    font-weight: 400;
   
    z-index: 1;
    color: white;
    height: 120px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    
}
.nav-link {
    color: white;
    
}

.p-3{
    background-color: black;
}
p{
    font-weight: 500;
    max-width: 500px;

}
.nav-tabs .nav-link.active{
    color:blue;
    background-color: blue;
    color: white;
}
.amogus{
    display: flex;
    align-items: center;
}