.Features {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   
    font-weight: 400;
   
    z-index: 1;
    color: white;
    height: 120px;
    background: rgb(20,108,255);
    background: linear-gradient(90deg, rgba(20,108,255,1) 0%, rgba(0,43,196,1) 25%, rgba(242,5,13,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    
}
.nav-link {
    color: white;
    
}

.bckgrnd {
    background: rgb(20,108,255);
    background: linear-gradient(90deg, rgba(20,108,255,1) 0%, rgba(0,43,196,1) 25%, rgba(242,5,13,1) 100%);
}
p{
    font-weight: 500;
    max-width: 500px;
    margin-top: 55px;

}
.nav-tabs .nav-link.active{
    color:blue;
    background-color:red;
    color: white;
}
.amogus{
    display: flex;
    align-items: center;
}