.Features {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    font-weight: 400;
    background-image: url("https://images.hgmsites.net/hug/2023-bmw-m4-gt4-race-car_100845097_h.jpg");
    z-index: 1;
    color: white;
    height: 120px;
    
}
.nav-link {
    color: white;
    
}
.nav-tabs{
    background-color: black;
}
.p-3{
    background-color: black;
}